# Object files
*.o
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*~

.cproject
.project
.settings/
GNUmakefile
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
default.action
doc/source/ldp.dsl
privoxy

